:root {
    /* Only include this part if you wish to change these variables */
    /* To disable the border, you can change the transparency to 0 */
    --user-area-border-width: 1.5px;
    --user-area-border-color: rgba(121, 227, 121, 0.5);
}

.visual-refresh .panels_c48ade .wrapper_e131a9 {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    will-change: transform, opacity;
    transform: translateY(5px);
    transition:
        max-height 0.15s ease,
        transform 0.15s ease 0.055s,
        opacity 0.3s ease;
}

.visual-refresh .panels_c48ade div.container__37e49.containerRtcOpened__37e49 {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border: 1.5px solid rgba(0, 128, 0, 0.5);
    z-index: 2000;
}

.visual-refresh .panels_c48ade:hover .wrapper_e131a9,
.visual-refresh .panels_c48a9 .wrapper_e131a9:hover {
  max-height: 150px !important;
  transform: translateY(0);
  opacity: 1;
  transition:
    max-height  0s ease;
}
